absl-py
astunparse
cachetools
certifi
charset-normalizer
coloredlogs~=15.0.1
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
humanfriendly
idna
importlib-metadata
keras~=2.9.0
Keras-Preprocessing
libclang
Markdown
numpy~=1.24.2
oauthlib
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
pyparsing
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow~=2.9.0
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
torch
tqdm~=4.64.0
typing_extensions
urllib3
Werkzeug
wrapt
zipp

Flask~=2.2.3
matplotlib~=3.7.1